@import "../css/normalize.css"
@import "../css/layout.css"

body {
  font: 300 20px/1.3 "Lato", Helvetica, Arial, sans-serif
  background-color: #fdde7e
}

h1
h2
h3
h4
h5
h6
  font-family: "Comfortaa", cursive, Arial, sans-serif
  font-weight: 400

h1
  font-style: 56px

a,
input[type="submit"],
input[type="button"],
button{
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button{
 display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
 -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
 -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
 transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}

textarea {

}

.ba-container
  display: flex
  align-content: center
  justify-content: space-around
  margin: 0 auto
  padding: 0 30px 30px
  max-width: 1200px
  min-height: 100vh

  @media (max-width: 960px)
    flex-direction: column

.ba-plan
  background-color: #FFF
  text-align: center
  align-self: center
  border-radius: 5px
  padding: 30px 20px
  flex-grow: 1

  &_gold
    flex-grow: 2
    margin 0 30px
    padding-top: 50px
    padding-bottom: 50px

  &__price
    color: #02995B
    font-family: "Comfortaa", cursive, Arial, sans-serif
    font-size: 70px
    font-weight: 700
    margin: 0 0 20px

  &__title
    color: #333
    font-size: 56px

  &__note
    font-size: 20px
    font-weight: 300
    margin: 0

  @media (max-width: 960px)
    margin-top: 30px
    max-width: 60%
    min-width: 404px

    &_gold
      padding-top: 30px
      padding-bottom: 30px
      order: 0

    &_silver
      order: 1

    &_bronze
      order: 2

  @media (max-width: 480px)
    width 100%
    max-width 100%
    min-width: 200px
    